<form action="/update/" method="post" accept-charset="utf-8">
  <input name="_method" type="hidden" value="put" />
  <% @shows.each do |show| %>
    <h2><%= I18n.l show.date, :format => "%A %Y-%m-%d" %></h2>
    <p>Bezet:  <input type="text" name="show[<%=show.id%>][taken]" id="show[<%=show.id%>][taken]" value="<%= show.taken %>" /></p>
    <p>Totaal: <input type="text" name="show[<%=show.id%>][max]"   id="show[<%=show.id%>][max]"   value="<%= show.max %>" /></p>
  <% end %>
  <p><input type="submit" value="Opslaan" /></p>
</form>
